.env
.env.sav
.env.generated
.env.sample
volt-cafe.pem
volt-cafe.pem.pub
# Node.js dependencies
node_modules/

# Terraform files
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup